.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.voteButtons {
  color: #eaeaea;
}

.header {
  position: relative;
  border-bottom: 1px solid #5f99cf;
  margin-bottom: 10px;
  background: #cee3f8;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 15px;
    margin-left: 15px;
}
a:hover, a:focus {
    color: #337ab7;
}

.headerTop {
  background: #f0f0f0;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 90%;
    height: 18px;
    line-height: 18px;
    white-space: nowrap;
}

.headerTop a {
  color: black;
  font-size: 1.1rem;
}
.headerTop a.focus {
color: #ff4101;
font-weight: bold;
}



.menuArea {
  display: inline;
      position: absolute;
    bottom: 0px;
}

.menuArea a {
  font-weight: bold;
  text-decoration: none;
}

.menuArea a.focusMenu:hover {
color: #ff4101;
}

.headerTop ul li {
  list-style-type: none;
  display: inline;
}
.menuArea ul li {
  list-style-type: none;
  display: inline-block;
}
.mainMenu {
  display: inline-block;
      padding: 0px;
    margin-bottom: 0px;
}
.focus, .focus:hover {
  color: #ff4101;
}

.focusMenu {
  color: #ff4101;
  background: white;
  padding: 3px 6px;
  border-top: 1px solid #5f99cf;
  border-left: 1px solid #5f99cf;
  border-right: 1px solid #5f99cf;
}


body {
  padding: 0;
}

.footer {
  padding: 50px 0px;
}

.footerWrap {
 border: 1px solid #eaeaea;
 border-radius: 4px;
 padding: 0px 2px;
 margin: 0px auto;
 width: 500px;
}

.footerWrap p {
    margin: 10px 4px 10px;
}

